@import "mobileLayout";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Raleway:wght@100;400&display=swap');
$color0: rgba(249, 244, 244, 0.757);
$color1: #96a0a03c;
$color2: #243a4ee8;
$color3: #e6ebe7;
$color4: #96a0a0;
$color5: #241b14;
$color6: linear-gradient(45deg, #343434ce, #1212127c);
$color7: #faedcd7c;
$color8: #d8d6d6;
// Mobile sizing
$codeCardSizeMobile: 100px;

$themeColor1: #f2dfd7;
$themeColor2: #2b4162;
$themeColor3: #ee6c4d;
$themeColor4: #7698b3;

$backgroundIndex: 0;
$midgroundIndex: 5;
$foregroundIndex: 10;
$mobileLayoutWidth: 400px;


@mixin test {
  border: dotted rgb(255, 0, 43);
}
@mixin test2 {
  border: dotted rgb(54, 33, 248);
}
@mixin test3 {
  border: dotted rgb(11, 188, 20);
}
@mixin liteBoxShadow {
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #afafaf;
}
@mixin boxShadow {
  box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #afafaf;
}
@mixin boxShadow2 {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 29px 29px 100px #5a5a5a, -29px -29px 100px #ffffff;
}
@mixin boxShadow3 {
  box-shadow: 29px 29px 100px #5a5a5a78, -29px -29px 100px #4d4c4c48;
}
@mixin sectionBackGround {
  background: $color6;
}
@mixin borderLine {
  border: solid thin white;
}
@mixin hoverCardEffect {
  transition-duration: 1s;
  &:hover {
    @include boxShadow;
    transform: scale(1.15);
    transition-duration: 1s;
    z-index: $foregroundIndex;
  }
}
@mixin hoverEffect2 {
  transition-duration: 0.5s;
  &:hover {
    @include boxShadow2;
    transform: scale(1.15);
    transition-duration: 0.5s;
    z-index: $foregroundIndex;
  }
}
@mixin hoverEffect3 {
  transition-duration: 0.8s;
  &:hover {
    @include boxShadow3;
    transform: scale(1.07);
    transition-duration: 0.8s;
    z-index: $foregroundIndex;
  }
}


.App {
  display: flex;
  // align-items: center;
  background-color: $color0;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// Landing-Page
.landingPageCon {
  width: 100%;
  display: flex;
  flex-direction: column;

  .headerContainer {
    width: 100%;
    contain: 50vh;

    .imgOfMe {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 60.5%;
      color: white;
      animation: drop_down 3.5s;
      height: 350px;

      background-image: url("../images/mePNG/looking-for-aweb-dev.png");
      opacity: 0.7;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: 200px;

      .topText {
        position: relative;
        margin-bottom: 20px;
      }

      @keyframes drop_down {
        from {
          top: -10%;
        }
        to {
          top: 60.5%;
        }
      }
    }

    .subtextbox {
      position: absolute;
      width: 100%;
      top: 97%;
      left: 25%;
      text-align: center;
      transform: translate(-50);
      color: white;
      animation: pull_up 3.5s;
      background-repeat: no-repeat;
      img {
        width: 100px;
      }
      .bottomText {
        position: relative;
        font-size: 12px;
      }

      @keyframes pull_up {
        from {
          top: 110%;
        }
        to {
          top: 97%;
        }
      }
    }

    .headerImgContainer {
      background-image: url("../images/the-matterhorn-as-seen-from-the-lauterbrunnen-valley-digitally-stitched-by-dominic-kamp.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      width: 100%;
      min-height: 100vh;
      border-bottom-left-radius: 300px;
      border-bottom-right-radius: 300px;
    }

    .textbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      contain: content;
      padding: 60px;
    }
  }
}

.absoluteBox {
  position: absolute;
  height: fit-content;
  min-width: 393px;
  width: 100%;
  min-height: 350px;
}

// OFFCANVAS---LOGIN
.offcanvas {
  display: flex;
  background: $color2 !important;
  width: 500px !important;
  padding-left: 6%;
  border-top-left-radius: 20px;
  border-left: solid thin rgba(255, 255, 255, 0.489) !important;
  color: white !important;
  .offCanvasBody {
    margin-top: 20% !important;
    margin: 4%;
  }
  .btnn {
    align-items: center;
  }
}
.myBttn {
  margin: 5px;
}
// HEADER
.headerSec {
  margin-bottom: 2rem;
  margin-left: 10%;
  padding: 0;
}

.landingPageHeader {
  width: 100vw;
  .headerContainer {
    display: flex;
    justify-content: flex-end;

    .headerImgContainer {
      background-image: url("../images/the-matterhorn-as-seen-from-the-lauterbrunnen-valley-digitally-stitched-by-dominic-kamp.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 50%;
      min-height: 28rem;
      border-bottom-left-radius: 400px;
    }

    .textbox {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      contain: content;
      padding: 60px;
      border: 40px solid $color0;
    }
  }
}
.msgTextArea {
  height: 120px;
  width: inherit;
  inline-size: 100%;
  overflow-wrap: break-word;
}
// SECTION
.sectionContainer {
  // max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
.section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  min-width: 393px;
  min-height: 350px;
  height: fit-content;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  border-radius: 25px;
  // background-color: #d8d6d6;
}
.formSection {
  display: flex;
  flex-direction: column;
  padding: 4%;
  min-width: 400px;
  height: fit-content;
}
.CVSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  .textbox {
    background-image: url("https://iconscout.com/illustration/office-workplace-2043007");
  }
}
.footer {
  background-color: $color2;
  height: fit-content;
  width: 100%;
  color: white;
  margin-left: 64px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;

  .footerCol {
    display: flex;
    flex-direction: column;

    h4 {
      text-align: center;
    }
    .socials {
      min-width: 300px;
      width: fit-content;
      div {
        h4 {
        }
        a {
          text-decoration: none;
          img {
            z-index: 500;
            height: 50px;
            width: 50px;
            margin: 2%;
            border-radius: 50%;
            border: solid thin white;
            background-color: white;
            @include hoverEffect2();
          }
        }
      }
    }
  }

  .copyRight {
    align-items: center;
    width: 100%;
  }
}
.socialItem {
  background: rgba(162, 252, 169, 0.644);
  padding: 0.8%;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  input {
    width: 100%;
    margin: 2%;
  }
  button {
    margin-left: 1%;
    width: 40px;
    column-span: all;
  }
}
.experiencePageContainer {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
}
.EditFormContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  img {
    position: fixed;
    z-index: -1;
    height: 80%;
    left: 15%;
    top: 8%;
  }
}
.workExpCardContainer {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: $themeColor4;
  border: white solid thin;

  .workExpCard {
    min-width: 350px;
    height: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: center;
    // background: $themeColor2;
    border-left: solid thin white;
    border-bottom: solid thin white;
    color: white;
    border-radius: 10%;
    padding: 10%;
    @include hoverEffect3;

    @include boxShadow3;
    @include sectionBackGround;

    img {
      position: relative;
      top: -150px;
      height: 15rem;
      width: 15rem;
      left: 50%;
      transform: translate(-50%);
      border-radius: 50%;
    }
    h4 {
      text-align: center;
      margin-top: -8rem;
      margin-bottom: 4rem;
    }
    p {
    }
    button {
      background-color: $themeColor3;
      border: none;
    }
  }
}
//TEXTBOX
.textbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}
.emptybox400 {
  min-width: 400px;
  min-height: 400px;
  content: inherit;
  img {
    position: fixed;
    z-index: -1;
    max-height: 300px;
  }
}
.projectInnerTextBox {
  width: 100%;
}

.emptybox500 {
  min-width: 500px;
  min-height: 500px;
}
// ProjectSection
.contentSection {
  margin-top: 5%;
  margin-bottom: 10%;
  width: inherit;
  display: flex;
  justify-content: space-between;
  .carouselSec {
    display: flex;
    justify-content: center;
    left: 0;
    width: 50%;
  }
  .textbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  h4 {
    text-align: center;
  }
}

// codeStackSection
.codeStackSection {
  margin-bottom: 20%;

  .textbox {
    width: 50%;
  }

  .codeStackBox {
    display: flex;
    overflow-y: scroll;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    grid-template-rows: max-content;
    transition-property: height;
    transition: 4s;
    transition-delay: 7s;
    text-align: center;

    &:hover {
      height: 100vh;
      transition-delay: 0s;
    }
  }
}
//aboutSection
.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
  // .innerTextBox{
  //   width: 50%;
  //   max-width:600px ;
  // }
}

.innerTextBox {
  h4 {
    margin-bottom: 35px;
  }
  margin-left: 10%;
  margin-right: 10%;
  max-width: 600px;
}
.myCard {
  // position: inline-block;
  margin: 20px;
  transition: 2.5s;
  height: 150px;
  width: 150px;
  border: none;
  z-index: $midgroundIndex;

  &:hover {
    margin-bottom: 10rem;
    transition: 0.9s;
  }

  .icon {
    height: 150px;
    z-index: $foregroundIndex;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .card-body {
    background: $color8;
    z-index: $backgroundIndex;
    position: relative;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  .slide {
    width: inherit;
    height: inherit;
    transition: 0.5s;
  }

  .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.8s;
    transform: translateY(-100%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    .content {
      visibility: hidden;
      transition: 0.1s;
    }
  }
  &:hover .slide.slide2 {
    // transition-property: height;
    transition-delay: 0.2s;
    height: fit-content;
    transform: translateY(2px);
    display: block;
    z-index: $foregroundIndex;

    .content {
      transition-delay: 0.8s;
      visibility: visible;
    }

    &:hover {
      margin-bottom: 400px;
    }
  }
}
// Msg Page
#msgPage {
}
.msgPageContainer {
  width: 100%;

  padding-top: 3%;
  padding-right: 200px;
  padding-left: 200px;
}
.msgPageLayout {
}
.msgListContainer {
  width: 100%;
}
.msgList {
}
.msgBox {
  transition-duration: 0.25s;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  td {
    min-width: 100px;
  }

  // border-radius: 50px;
  &:hover {
    transition-duration: 0.25s;
    scale: 1.05;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
    background-color: rgb(214, 232, 246);
    @include boxShadow3;
  }
  // @include test2;
}

.msgModal {
  display: flex;
  justify-content: center;
  transition-duration: 0.8s;

  .deleteButton {
    width: 50%;
    margin: 10px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}
.msgModalBody {
  min-height: 200px;
}
.deleteAlert {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button {
    margin: 5px;
    z-index: $foregroundIndex;
  }
}

//editPage
.editPageContainer {
  display: flex;
  min-width: 300px;
  width: 100%;

  .experiencePage {
    width: 100%;
    height: 100%;
  }

  .sideContainer {
    margin-left: 100px;
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 30%;
    justify-content: space-evenly;
    position: fixed;

    .switchBoardControl {
      margin-top: 30px;
      background-color: #96a0a0db;
      width: 315px;
      border-radius: 35px 35px 5px 35px;
      text-align: center;
      color: white;

      @include boxShadow;
      @include sectionBackGround;
      @include borderLine;

      ul {
        padding: 0;
        p {
          width: 100%;
          height: 100%;
          padding: 3%;
          &:hover {
            background-color: #30e0e021;
            cursor: pointer;
            &:nth-child(1) {
              border-top-right-radius: 35px 35px;
              border-top-left-radius: 35px 35px;
            }
          }
        }
      }
    }
  }

  .mainContainer {
    width: 100%;
    padding: 7%;
    margin-left: 500px;

    .displayBox {
      display: flex;
      width: 100%;
      min-width: 400px;
      height: 100%;
      border-radius: 20px;
      @include boxShadow;
      @include sectionBackGround;
      // @include borderLine;
    }
  }
}
.WorkExpPageContainer {
  display: flex;
  min-width: 300px;
  width: 100%;
  // @include test;

  .experiencePage {
    width: 100%;
    height: 100%;
  }

  .sideContainer {
    margin-left: 100px;
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    justify-content: space-evenly;
    // position: fixed;

    .switchBoardControl {
      margin-top: 30px;
      background-color: #96a0a0db;
      width: 315px;
      border-radius: 35px 35px 5px 35px;
      text-align: center;
      color: white;

      @include boxShadow;
      @include sectionBackGround;
      @include borderLine;

      ul {
        padding: 0;
        p {
          width: 100%;
          height: 100%;
          padding: 3%;
          &:hover {
            background-color: #30e0e021;
            cursor: pointer;
            &:nth-child(1) {
              border-top-right-radius: 35px 35px;
              border-top-left-radius: 35px 35px;
            }
          }
        }
      }
    }
  }

  .mainContainer {
    width: 70%;
    padding: 7%;
    margin-left: 500px;

    .displayBox {
      display: flex;
      width: 100%;
      min-width: 400px;
      height: 100%;
      border-radius: 20px;
      @include boxShadow;
      @include sectionBackGround;
      // @include borderLine;
    }
  }
}
.profileInfoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 315px;
  height: fit-content;
  min-height: 260px;
  border-radius: 5px 35px 35px 35px;
  padding: 5%;

  @include boxShadow;
  @include sectionBackGround;
  // @include borderLine;
  .online {
    position: relative;
    border: solid thin white;
    border-radius: 50%;
    background-color: rgba(57, 240, 57, 0.933);
    height: 50px;
    width: 20px;
    left: 52px;
    top: -40px;
    font-size: x-small;
  }
  .offline {
    position: relative;
    border: solid thin white;
    border-radius: 50%;
    background-color: rgba(245, 62, 62, 0.933);

    height: 50px;
    width: 20px;
    left: 52px;
    top: -40px;
    font-size: x-small;
  }
  .profImgCon {
    img {
      position: relative;
      border-radius: 12px;
      border-bottom: solid white;
      border-left: solid white;
      top: -50px;
      width: 70%;
      cursor: pointer;
      // @include boxShadow
      @include boxShadow;
      @include sectionBackGround;
    }
  }
  .infoSec {
    text-align: center;
    color: white;
    height: 50%;
    width: 100%;
    margin-bottom: 30%;
  }
}

.addWorkExpForm {
  width: 100%;
  height: 100%;
  padding: 10%;
  content: inherit;
  color: white;
  .addWrkExpImg {
    position: absolute;
    position: fixed;
    z-index: -1;
    height: 40%;
    right: 10%;
    top: 15%;
  }
}
.uploadForm {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  img {
    position: fixed;
    z-index: -1;
  }
}
.editUserBioForm {
  width: 100%;
  height: 100%;
  padding: 5%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  img {
    position: fixed;
    z-index: -1;
    height: 80%;
    left: 100px;
  }
  button {
    margin: 2%;
  }
}

// FEATURES-----

#sendMsgButton {
  position: fixed;
  right: 3%;
  bottom: 3%;
  opacity: 0.7;
  height: 8rem;
  z-index: $foregroundIndex;
  &:hover {
    opacity: 1;
    transform: scale(1.2);
    transition-duration: 1s;
  }
}

// nav
.nav {
  //inlineStyling
  background-color: $color2 !important;
  position: fixed !important;
  border-right: white solid thin;
  border-top-right-radius: 15px;
  width: 60px;
  height: 100vh !important;
}
.navIcon {
  //inline styling
}
.navText {
  //inline styling
}
.navLogoContainer {
  .navLogo {
  }
}
.navItem {
  a {
    text-decoration: none;
    font-size: 17px;
    color: white;
  }

  i {
    font-size: 1.75rem;
  }

  cursor: pointer;
  &:hover {
    background-color: $color0;
  }
}
//CARDS & Card Features

.CVCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition-duration: 1s;
  z-index: $foregroundIndex;
  @include liteBoxShadow;
  @include hoverCardEffect;
  img {
  }
}

.carouselCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
  max-width: 20rem;
  min-height: fit-content;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;
  text-overflow: ellipsis;

  &:hover {
    height: fit-content;
  }
}

.carouselCard img {
  margin-top: -25%;
  // height: 100%;
  width: 100%;
  border-radius: 8px 35px 35px 35px;
}

.carouselCard h4 {
  margin: 0;
  margin-top: 1rem;
}

.carouselCard p {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}

.carouselCard .btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $mobileLayoutWidth) {
  @include mobileLayout;
}
@media (max-width: 700px) {
  @include mobileLayout;
}
